html {
  overflow-y: scroll;
}
h1 {
  color: steelblue;
  font-weight: 800;
  font-size: 1.7em;
}
header h3 {
  color: steelblue;
  font-size: 1.5em;
  padding-bottom: 10px;
  text-align: right;
  margin: 10px 10px 2px; 
}
footer a,
footer a:hover, footer a:visited {
  color: #D2A000;
}
footer {
  color: white;
  padding-top: 5px;
  border-top: 1px solid gray;
  font-size: 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: black;
  text-align: center;
  margin-top: 40px;
}
#title ,
.icon-right { 
  float: right; 
}
.icon-size {
  font-size: 40px;
}
.widget {
    margin-bottom: 20px;
    color: #fff;
}
.widget.widget-stats {
    position: relative;
    border-radius: 4px;
}
.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;    
    color: #fff;
    position: absolute;
    right: 15px;
    top: 5px;
    opacity: .2;
    filter: alpha(opacity=20);
}
.widget-stats .stats-info h4{
  font-size:12px;
  margin:5px 30px;
  color:#fff
}
.widget-stats .stats-info p{
  font-size:33px;
  font-weight:300;
  margin-bottom:0;
  margin-left:20px;
  }
.widget-stats .stats-link a{
  display:block;
  margin:0px 0px -15px;
  padding:7px 15px;
  background:rgba(0,0,0,.4);
  text-align:right;
  color:#ddd;
  font-weight:300;
  text-decoration:none
  }
.bg-gray {
  background-color: #d9e0e7;
}
.text-small {
  font-size: 12px;
  font-style: italic;
  color : #282828;
  margin: 0px 10px; 
}
.text-danger{
  color : #a30000;
}
.text-warning{
  color: #ff8800;
}
.text-primary{
  color : #2a9fd6;
}
.bar {
 height : 2px;
 margin-bottom: 20px;
 }
.axis-labels {
  fill: gray;
  font-size: 10px;
}
.container-center{
  position: relative; 
  overflow: hidden; 
  text-align:center;
}
#pngdataurl { 
  display: none; 
}
#panel-map {
  z-index: 10; 
  position: fixed; 
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0; 
  margin: auto; 
  width: 400px;
  height: 400px;
}
#map_canvas {
  margin: 0;
  width: 400px;
  height: 400px;
}
#component2 {
  margin-bottom: 40px;
}