<h2>Component 1 :</h2>
<div class="container-fluid">

  <!-- Dashboard Element 1 -->  
  <div class="row row-margin">
    <div class="col-md-4 col-sm-6">
      <div class="text-danger text-center"> {{ radar.json[0].type | uppercase }} </div>
      <div class="widget widget-stats bg-danger">
        <div class="stats-icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="stats-info">
          <p>
            {{ radar.json[0].variables.population | number:0 }}
          </p>
          <h4>Population</h4>
        </div>
        <div class="stats-link">
          <a href="" ng-click="radar.panelGMaps(radar.json[0].address)">[ Map ]
            <i class="fa fa-share"></i>
          </a>
        </div>
      </div>
      <div class="text-center"> {{ radar.json[0].address }}</div>
      <div class="bg-danger bar"></div>
    </div>

    <!-- Dashboard Element 2 -->
    <div class="col-md-4 col-sm-6">
      <div class="text-warning text-center"> {{ radar.json[1].type | uppercase }} </div>
      <div class="widget widget-stats bg-warning">
        <div class="stats-icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="stats-info">
          <p>
            {{ radar.json[1].variables.population | number:0 }}
          </p>
          <h4>Population</h4>
        </div>

        <div class="stats-link">
          <a href="" ng-click="radar.panelGMaps(radar.json[1].address)">[ Map ]
            <i class="fa fa-share"></i>
          </a>
        </div>
      </div>
      <div class="text-center"> {{ radar.json[1].address }}</div>
      <div class="bg-warning bar"></div>
    </div>

    <!-- Dashboard Element 3 -->
    <div class="col-md-4 col-sm-6">
      <div class="text-primary text-center"> {{ radar.json[2].type | uppercase }} </div>
      <div class="widget widget-stats bg-primary">
        <div class="stats-icon">
          <i class="fa fa-users"></i>
        </div>
        <div class="stats-info">
          <p>
            {{ radar.json[2].variables.population | number:0 }}
          </p>
          <h4>Population</h4>
        </div>
        <div class="stats-link">
          <a href="" ng-click="radar.panelGMaps(radar.json[2].address)">[ Map ]
            <i class="fa fa-share"></i>
          </a>
        </div>
      </div>
      <div class="text-center"> {{ radar.json[2].address }}</div>
      <div class="bg-primary bar"></div>
    </div>

  </div>
  
  <!-- Panel Map Location -->
  <div id="panel-map" ng-show="radar.showGMaps">    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-map-marker"></i> Map Location 
          <a href="" class="icon-right" ng-click="radar.showGMaps=false"><i class="fa fa-close"></i></a>
        </h3>
      </div>
      <div class="panel-body bg-gray">
        <div>
          <div class="container-center">
            <div id="map_canvas" valign='top'></div>
          </div>
        </div>
      </div>
    </div>    
  </div>
  
</div>